on:
  push:
    branches:
      - main

jobs:
  release-on-push: # https://github.com/marketplace/actions/tag-release-on-push-action
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: rymndhng/release-on-push-action@master
        with:
          bump_version_scheme: minor
          release_body: "See CHANGELOG.md"
